node_modules

/build
/public/build
/public/posts
/public/front-matter-cache.json
.env
.env.example
.vscode

/coverage
/prisma/data.db
/prisma/data.db-journal
/prisma/migrations

/playwright-results/
/playwright-report/
/playwright/.cache/

/.github/workflows/act/act.secrets

.DS_Store